a, span, div, p {
	color: black;
}
body, html {
	min-height: 100%;
	width: 100%;
	background-color: #eee;
}
.main-content {
	position: relative;
	min-height: 100%;
	height: auto;
	height: 100%;
}
.boxed-content {
	text-align: center;
	height: auto;
	padding: 10px;
	margin-bottom: 15px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.boxed-content:hover {
	 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.boxed-content a {
	text-decoration: none;
}
.boxed-content img{
	
}
.product-row {
	margin-top: 2.5em;
}
.add-to-cart{
	margin-bottom: 10px;
}