.navbar {
	padding: 0;
}
.nav-item {
	text-align: center;
	margin-top: 20px;
	font-size: 30px;
	color: black;
}

.shop {
	background-color: #ff5656;
	padding: 35px;
	text-decoration: none;
}

.shop > a:hover {
	text-decoration:none;
	color: black;
}