.navbar {
	padding: 0;
	font-family: dolce;
}
a:hover {
	color: #ff5656 !important;
}
.nav-item {
	text-align: center;
	margin-top: 20px;
	font-size: 30px;
	color: black;
}
.shop {
	background-color: #ff5656;
	padding: 40px;
	text-decoration: none;
}
.shop > a:hover {
	text-decoration:none;
	color: white !important;
}

