a, a:hover {
	text-decoration: none;
	color: black;
}
.nav-item {
	font-size: 22px;
	font-family: dolce !important;
	padding: 35px;
	text-transform: uppercase;
}
.navbar-row > img{
	height: 92px;
}
.col-4 .nav-item {
	display: inline-block;
	float: left;
}
.collapse .nav-item {
	display: block;
	color: #fff;
	width: 100%;
}
.nav-item:hover {
	background-color: white;

}
.navbar-row {
	padding: 0 3.5em;
	border-bottom: 1px solid #ddd;
	background-color: white;
}
.button {
	color: #fff;
	background-color: #ff5656;
	
}
.navbar-toggler {
	/*float:right;*/
}
.button:hover {
	background-color: #f25252;
}
.inwards-left {
	left: 7%;
}
.inwards-right {
	right: 2%;
}
.hidden-nav {
	visibility: hidden;
}

/*background:  url("https://upload.wikimedia.org/wikipedia/commons/a/ae/Syria_DisplacementRefugees_2012June13_HIU_U589.jpg") no-repeat fixed center; */